<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"></meta>
    <title>后台管理</title>
    <meta name="description" content=""></meta>
    <meta name="viewport" content="width=device-width"></meta>

		<script th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
		<script type="text/javascript" th:src="@{/js/wangEditor.min.js}" src="js/wangEditor.min.js"></script>
		<script th:src="@{/js/bootstrap-paginator.min.js}" src=""></script>
		<script th:src="@{/js/backstage.js}" src=""></script>
    <!-- Bootstrap styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/bootstrap.min.css"></link>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="css/style.css"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/css/wangEditor.min.css}" href="css/wangEditor.min.css"></link>

	
</head>
<body>
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<h3 class="text-center">
					博客后台管理系统
				</h3>
			</div>
		</div>
		<div class="row clearfix">
			<div class="col-md-6 column">
					<div id="articleTitles" class="row">
						文章标题列表
					</div>
					<div id="paging">
						<ul id="pageLimit"></ul> 
					</div>
					<!-- <button id="getArt" style="display:none"></button> -->
					
			</div>
			
			<div class="col-md-6 column">
				标题<input id="title" type="text" class="form-control" style="display:block"/>
				类型      <select  name="selectAge" id="articleType"  class="combobox form-control">
						<option></option>   
				        <option value="1">个人日记</option>   
				        <option value="2">随笔</option>   
				        <option value="3">技术</option>   
				      </select>   
				<div id="editor" style="height:800px;">
				</div>
				<button id="btn"  type="button" class="btn btn-default">发布</button>
				<button id="aaa"  type="button" class="btn btn-default">发布</button>
			</div>
		</div> 	

	</div>
	
	
	
	
	
	
	
		
		

</body>
</html>