  <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i>JesseYang</h3>

                       <p>我就是传说中玉树临风一表人才貌似潘安才比宋玉号称一朵梨花压海棠人送绰号杰西大魔王的杰西大魔王</p>
                       <p>作为一个程序猿还是自己手动写一个博客比较靠谱。 </p>
                       <p>自从开始工作以后越来越发现，表达能力直线下降，多的不说了先写代码吧 </p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i>都会些啥</h3>
                        <ul class="clean-list">
                            <li>java玩了快2年了，最擅长环境变量的配置</li>
                            <li>数据库方面精通mysql的安装卸载</li>
                            <li>为啥学jquery因为喜欢找孙子，建议去掉parent函数</li>
                            <li>springmvc用的特别多，所以精通它的拼写</li>
                            <li>linux最喜欢的命令是rm -rf</li>
                            <li>因为上一条的缘故至今仍在跑路途中</li>
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i>联系我</h3>

                        <p>如果你也是程序猿或者你对编程感兴趣------------别联系我 我的技能都是独家的不外传。</p>
                        <p>特别希望您对本站提出建设性的意见或建议。----------当然不是建设性的也可以提，我都不会看的。</p>
<!--                          <div class="footer-widget-icon">
                            <i class="fa fa-facebook"></i><i class="fa fa-twitter"></i><i class="fa fa-google"></i>
                        </div> -->
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                Jesse Yang    20170331. huhahuhei@sina.com
        </div>